.App {
  text-align: center;
}

.nav{
  height: 100px;
}

.main-bg{
  height: 400px;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.nav-menu{
  margin-left: 20px;
  text-decoration: none;
  color: grey;
}

.detailimg{
  margin-bottom: 20px;
}